---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Coding Projects</div>
  </div>

  <HorizontalCard
    title="AlertaRiscos"
    img="/post_img.webp"
    desc="Beta Tester and Prototype Designer for AlertaRiscos, a app developed to replace the slow and buggy alerts from Proteção Civil."
    url="#"
    badge="IN DEVELOPMENT"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Blumemail"
    img="/post_img.webp"
    desc="US based e-mail service that protects your privacy."
    url="blumemail.net"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5">Photography Things</div>
  </div>

  <HorizontalCard
    title="Amora A33 fire - Drone footage"
    img="/post_img.webp"
    desc="Published drone footage from my DJI Mini 3 that I took due to a fire on A33. It was broadcasted on live television, including RTP, SIC, CNN Portugal, Observador and others."
    url="https://x.com/GalaxxyAfonso/status/1833897909945000006"
    badge="X/Twitter"
  />
